# Remove List Items

The `remove()` method removes the specified item.

In [ ]:
# Remove "banana":

thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)



# If there are more than one item with the specified value, the remove() method removes the first occurrence:

thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']
['apple', 'cherry', 'banana', 'kiwi']

# Remove Specified Index
The `pop()` method removes the specified index.

In [ ]:
# If you do not specify the index, the pop() method removes the last item.


thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

# Clear the List
The clear() method empties the list.

The list still remains, but it has no content.

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

# Loop Through a List
You can loop through the list items by using a `for` loop:

In [1]:
# thislist = ["apple", "banana", "cherry"]
# for x in thislist:
#   print(x)

mylist = [1, 4, "omid", True, 5.6]
for itr in mylist:
    print(itr)

1
4
omid
True
5.6

# Sort Lists

Sort List Alphanumerically
List objects have a `sort()` method that will sort the list alphanumerically, ascending, by default:

In [8]:
# Sort the list alphabetically:

mylist = [4,5,2,1,3]
print(f"the original list : {mylist}")
mylist.sort()
print(f"the asc sort : {mylist}")
mylist.sort(reverse=True)
print(f"the desc sort : {mylist}")

my_al_list = ["c", "a", "b", "d"]
print(f"the original list is : {my_al_list}")
my_al_list.sort()
print(f"the original al list : {my_al_list}")
my_al_list.sort(reverse=True)
print(f"the asc al sort : {my_al_list}")
# Sort the list alphabetically, descending:
# my_al_list.sort(reverse=True)

# thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
# thislist.sort()
# print(thislist)


# # Sort the list numerically:

# thislist = [100, 50, 65, 82, 23]
# thislist.sort()
# print(thislist)

the original list : [4, 5, 2, 1, 3]
the asc sort : [1, 2, 3, 4, 5]
the desc sort : [5, 4, 3, 2, 1]
the original list is : ['c', 'a', 'b', 'd']
the original al list : ['a', 'b', 'c', 'd']
the asc al sort : ['d', 'c', 'b', 'a']

In [ ]:
# Sort the list descending:

thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)


thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [15]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

for x  in myfamily.items():
  print(x)

print(myfamily["child1"]["name"])


for y in myfamily:
    print(myfamily[y]["name"])

('child1', {'name': 'Emil', 'year': 2004})
('child2', {'name': 'Tobias', 'year': 2007})
('child3', {'name': 'Linus', 'year': 2011})
Emil
Emil
Tobias
Linus

In [ ]:
# +=
# -=
# *=
# /=


a = 5
+=
# a = a + 5  --> a += 5
# a = a - 5  --> a -= 5
# a = a / 5  --> a /= 5

In [11]:
#boolean
# AC-Milan and Liverpool

ac_milan_goals = 0
liverpool_goals = 3

if ac_milan_goals == True:
    if liverpool_goals > ac_milan_goals:
        print("Liverpool won the match")
    elif liverpool_goals == ac_milan_goals:
        print("The match was a draw")
    else:
        print("AC Milan won the match")
else:
    print("Nooooo")

Nooooo

In [25]:
# while


# Count from 1 to 10, but stop early at 5
count = 0
while count <= 10:
    if count == 4:
        print("ok the number is 4")
    else:
        print(count)
    count += 1

# correct_username = "admin"

# username = input("Enter your username: ")
# while username != correct_username:
#     print("Incorrect username. Please try again.")
#     username = input("Enter your username: ")

# number = -10
# range  > -10 to 100
# number % 5 = 0

# while number <= 100:
#     if number % 5 == 0:
#         print(f"{number} is divisible by 5")
#     else:
#         print(number)
#     number += 1

0
1
2
3
ok the number is 4
5
6
7
8
9
10

In [ ]:



# Print only odd numbers from 1 to 10
num = 0
while num < 10:
    if num % 2 == 0:
        print(num)
    else:
        print("even")
    num += 1

0
even
2
even
4
even
6
even
8
even

In [53]:
import random
numbers = random.sample(range(1, 100), 10)
breaking_numbers = [11, 22, 33, 44, 55, 66, 77, 88, 99]
print(numbers)

while True:
    for i in numbers:
        if i in breaking_numbers:
            print("breaking number appeared – break time")
            found = True
            break        # breaks out of the for-loop

        if i % 2 == 0:
            print(i)
        else:
            print("odd")
            continue     # skips to next i

    if found:
        break            # breaks out of the while-loop
    # otherwise, loop back and scan `numbers` again…

[36, 51, 82, 66, 32, 7, 16, 96, 19, 22]
36
odd
82
breaking number appeared – break time

In [28]:
# print all numbers from -50 to 100
forbi_nums = [2,5,87,45,32,11]
# print, i can not print this {} number


i = -50
while i <= 100:
    if i in forbi_nums:
        print(f"{i} is in the forbidden numbers list")
    else:
        print(i)
    i += 1



i = 100
while i >= -50:
    if i in forbi_nums:
        print(f"{i} is in the forbidden numbers list")
    else:
        print(i)
    
    i -= 1

100
99
98
97
96
95
94
93
92
91
90
89
88
87 is in the forbidden numbers list
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45 is in the forbidden numbers list
44
43
42
41
40
39
38
37
36
35
34
33
32 is in the forbidden numbers list
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11 is in the forbidden numbers list
10
9
8
7
6
5 is in the forbidden numbers list
4
3
2 is in the forbidden numbers list
1
0
-1
-2
-3
-4
-5
-6
-7
-8
-9
-10
-11
-12
-13
-14
-15
-16
-17
-18
-19
-20
-21
-22
-23
-24
-25
-26
-27
-28
-29
-30
-31
-32
-33
-34
-35
-36
-37
-38
-39
-40
-41
-42
-43
-44
-45
-46
-47
-48
-49
-50

In [38]:
num = 10_000
while num > 0:
    print(num)
    if num == 625:
        break

    num /= 2

10000
5000.0
2500.0
1250.0
625.0

In [40]:
count = 0
while count < 5:
    count += 1
    if count == 4:
        continue  # Skip printing number 3
    print(count)

1
2
3
5

In [43]:
# 0 to 20

# ignore numbers: 7,11,4
# exit point : 18

i = 0
j = [4, 7, 11]

while i <= 20:
    if i in j:
        i += 1        # Increment i to avoid infinite loop when using continue
        continue
    elif i == 18:
        break
    else:
        print(i)
    i += 1

0
1
2
3
5
6
8
9
10
12
13
14
15
16
17

In [ ]:
# Simple password check: max 3 attempts
correct_password = "s3cr3t"
attempts = 0

while attempts < 3:
    guess = input("Enter password: ")
    attempts += 1

    if not guess:
        print("No input given, try again.")
        continue   # don’t count this as a proper attempt, ask again

    if guess == correct_password:
        print("Access granted!")
        break      # success—exit the loop
    else:
        print("Wrong password. Attempts left:", 3 - attempts)
else:
    # This else runs only if the loop wasn’t exited via break
    print("Too many failed attempts. Access denied.")

# Dict practice

In [61]:
md = {
    "name": "Hermann",
    "age" : 39,
    "job" : "data engineer",
    "fav_col" : "Blue"
}

# 1- print the entire dict
print(md)
# 2 - print my name
# first way
my_name = md['name']
print(my_name)
# second way
print(md['name'])
print(type(md['name']))
# 3 - print title of job
ti_jo = md['job'].title()
print(ti_jo)
# 4 - change my fav col to Red
md['fav_col'] = "Red"
print(md)

{'name': 'Hermann', 'age': 39, 'job': 'data engineer', 'fav_col': 'Blue'}
Hermann
Hermann
<class 'str'>
Data Engineer
{'name': 'Hermann', 'age': 39, 'job': 'data engineer', 'fav_col': 'Red'}

In [44]:
# create a dict mapping names to ages
ages = {
 "Alice": 30,
 "Bob": 25,
 "Carol": 27
 }

# json documt --> item --> key : value

# access by key
print(ages['Alice'])   # → 25

30

In [46]:
# build from a list of (key, value) tuples
pairs = [("x", 1), ("y", 2), ("z", 3)]
coords = dict(pairs)

print(type(coords))        # → {'x': 1, 'y': 2, 'z': 3}

<class 'dict'>

In [48]:
d = {"a": 1, "b": 2}

# add or update
d["b"] = 10
# d["a"] = 100        # overwrites existing

# delete
del d["a"]

print(d)            # → {'a': 100, 'c': 3}

{'b': 10}

In [70]:
wh = {
    "apple": 100,
    "banana": 500,
    "cherry": 200

    }
for fruits in wh:
    print(fruits)

for wh_keys in wh.keys():
    print(wh_keys)


kg = []
for wh_keys in wh.values():
    print(wh_keys)
    kg.append(wh_keys)
print(kg)
print(sum(kg))

apple
banana
cherry
apple
banana
cherry
100
500
200
[100, 500, 200]
800

In [71]:
# 1- give me a list of materials inside my inv
# 2- i want the value of inven in list
# 3- sum of all values
inventory = {
    "pen": 150,
    "notebook": 300,
    "eraser": 50
}
# 1- give me a list of materials inside my inv
for materials in inventory.keys():
    print(materials)

# 2- i want the value of inven in list
for vals in inventory.values():
    print(vals)


# 3- sum of all values
emli = []
for vals in inventory.values():
    emli.append(vals)

print(sum(emli))

pen
notebook
eraser
150
300
50
500

In [ ]:
d = {"apple": 100, "banana": 500, "cherry": 200}

for key in d.keys():
    print(key)

for value in d.values():
    print(value)

for key, value in d.items():
    print(f"{key} → {value}")

apple
banana
cherry
3
5
2
apple → 3
banana → 5
cherry → 2

In [73]:
scores = {"math": 90, "english": 85}
d = {"apple": 100, "banana": 500, "cherry": 200}

print(d['apple'])
print(d.get('apple'))
# print(scores.get("math"))         # → 90
# print(scores.get("history", 0))   # → 0 (default if key missing)

100
100

In [76]:
# data for multiple users
users = {
    "u1": {"name": "Alice", "age": 30},
    "u2": {"name": "Bob",   "age": 25},
}

print(users["u1"]["age"])   # → Alice

yyy = users['u2']['age']
print(f"his name is {users['u2']['name']} and he is {yyy} years old")

30
his name is Bob and he is 25 years old

In [89]:
products = {
    "p1": {"name": "Laptop", "price": 1200, "stock": 10},
    "p2": {"name": "Smartphone", "price": 800, "stock": 25},
    "p3": {"name": "Tablet", "price": 450, "stock": 15},
    "p4": {"name": "Monitor", "price": 300, "stock": 12},
    "p5": {"name": "Keyboard", "price": 70, "stock": 40},
    "p6": {"name": "Mouse", "price": 50, "stock": 30},
}
# 1- give me p4 name and price in a f string

name = []
price = []
stock = []

for key, valu in products.items():
    print(key, valu)
    print(valu['name'])
    print(valu.get('name'))

p1 {'name': 'Laptop', 'price': 1200, 'stock': 10}
Laptop
Laptop
p2 {'name': 'Smartphone', 'price': 800, 'stock': 25}
Smartphone
Smartphone
p3 {'name': 'Tablet', 'price': 450, 'stock': 15}
Tablet
Tablet
p4 {'name': 'Monitor', 'price': 300, 'stock': 12}
Monitor
Monitor
p5 {'name': 'Keyboard', 'price': 70, 'stock': 40}
Keyboard
Keyboard
p6 {'name': 'Mouse', 'price': 50, 'stock': 30}
Mouse
Mouse