In [34]:
import random

# 1 random value generate

x = random.randint(50, 9000)
print(x)

# multiple random values
number = random.sample(range(-90, 2701), 3)
print(number)

3599
[1400, 1274, 551]

# String

In [35]:
a = "my name is "
b = 'my name is not'

c = '''ArithmeticError
ddlkfndkfj
sdlhodhf
sdljkfnkasjdbf
lsjdhfasjhdf
'''

print(c)

ArithmeticError
ddlkfndkfj
sdlhodhf
sdljkfnkasjdbf
lsjdhfasjhdf

# indexing - mapping

In [ ]:
a = "Python is wonderful"
b = a[17:]
c = a[-2:]

print(b)
print(c)

# b = a[2] # to call one character
# c = a[-3]
# d = a[3:6]
# e = a[2:-1]
# f = a[::2]  # every second character
# g = a[:4]
# h = a[3:]

# print(h)

ul
ul

# len()

In [11]:
a = "omid"

b = len(a)

print(b)

4

In [75]:
txt = "hello world"

x = txt.split()
y = x[-1]

print(y)

world

In [80]:
a = "my fav col is pink"
b = 359
c = 4.5
d = -4.5
a = [2,4,6]
a = (6.9, 4.7, "hello")  #tuple

i_want_the_data_type = type(a)

print(i_want_the_data_type)

omid_var = "his name"
a = len(omid_var)

print(type(a), type(b), type(c))

<class 'tuple'>
<class 'int'> <class 'int'> <class 'float'>

# Escape characters

In [95]:
# \'
a = 'it\'s is my book'
a = "it\"s my book"

b = 'i\'t blue'
print(b)


a = "tha's mine"
# b = 'that's yours"


# \n
f = "my name is herman and \ti have very nice students"

print(f)

i't blue
my name is herman and 	i have very nice students

In [124]:
import random
import math

def auto_gp(students, batch):
    group_names = ["Lion", "Falcon", "Cobra", "Tiger", "Eagle", "Shark", "Raven", "Fox", "Wolf"]
    random.shuffle(group_names)
    random.shuffle(students)
    group_size = math.ceil(len(students) / batch)

    groups = [students[i:i+group_size] for i in range(0, len(students), group_size)]

    for i, group in enumerate(groups):
        group_name = group_names[i % len(group_names)]
        print(f"Team {group_name}: {group}")



students = ['omid', 'hasti', 'helia','mahshid','ayda','fateme','nura','nida','ceren','anna']      #set the student names here
batch = 5       #set the number of groups here

auto_gp(students, batch)

Team Fox: ['nida', 'fateme']
Team Wolf: ['ceren', 'nura']
Team Tiger: ['mahshid', 'ayda']
Team Lion: ['hasti', 'helia']
Team Eagle: ['omid', 'anna']

In [ ]:
# capitalze()
a = "hermann"
b = a.capitalize()

print(b)

Hermann

In [129]:
# casefold()

a = "HerMann"
b = a.casefold()

print(b)

hermann

In [131]:
# count()

a = "anna"
b = a.count("a")

print(b)

2

In [135]:
# endswith()

a = "hermann"
b = a.endswith("n")

print(b)

True

In [7]:
# expandtabs()
# \t 

a = "h\te\trma\tn\tn"
b = a.expandtabs(3)

print(b)

h  e  rma   n  n

In [8]:
a = "today is a good day"
b = a.find("is")

print(b)

6

In [9]:
# format_map
a = {'x':'John', 'y':'Wick'} 

# Use of format_map() function 
print("{x}'s last name is {y}".format_map(a))

John's last name is Wick

In [16]:
# index()

a = "hermann"
b = ['red', 'green', 'blue']

c = b.index("blue")

print(c)

2

In [21]:
# isalnum()
# isalpha()

a = "hermann3"

b = a.isalnum()
c = a.isalpha()

print(a)

False

In [40]:
# isdecimal()

a = "56"
# b = a.isdecimal()
# c = a.isdigit()
d = a.isnumeric()
# print(b)
# print(c)
print(d)

True

In [46]:
# islower()
a = "hermann"
b = a.islower()
print(b)


# isupper()
a = "HERMANN"
b = a.isupper() 
print(b)

True
False

In [53]:
# isspace()
a = " "
b = a.isspace()
print(b)



# istitle()
a = "Hello World"
b = a.istitle()
print(b)

True
True

In [56]:
# join() 
a = "*"
b = ["hello", "world"]
# d = "hermann"

c = a.join(b)
# r = a.join(d)
print(c)
# print(r)


a = "partner name"
b = "_"
c = a.join(b)

hello*world

In [67]:
# ETL extract, transform, load 

# ljust()
# a = "93842346"
# e = print(f"the lent of a is {len(a)}")
# b = a.just(50, "X")
# f = print(f"the lent of b is {len(b)}")
# print(b)

# lstrip()
# a = "   hermann"
# print(a)
# al = print(len(a))
# b = a.lstrip()
# bl = print(len(b))
# print(b)


# a = "hermann   "
# # rstrip()
# b = a.rstrip()
# print(b)




lname = "   mahshid   "
print(len(lname))
rname  = "mahshid    "
print(len(rname))
print(lname.lstrip())
print(rname.rstrip())
print(len("mahshid"))
justified = (lname.lstrip()).rstrip()

print(f"modified name is {justified}")


# # strip()
# a = "   hermann   "
# b = a.strip()
# print(b)

13
11
mahshid
mahshid
7
modified name is mahshid

In [69]:
# partition()
a = "today is a good day"
b = a.partition(" ")
print(b)

('today', ' ', 'is a good day')

In [71]:
# rfind()
a = "hermann"
b = a.rfind("n")
print(b)

6

In [75]:
# split()
a = "hermarnn"
c = "my name is hermann hati omid"
f = "ma_hs_hi_d"
r = f.split("_")
print(r)

b = a.split("r")
r = c.split(" ")
print(b)
print(r)

['ma', 'hs', 'hi', 'd']
['he', 'ma', 'nn']
['my', 'name', 'is', 'hermann', 'hati', 'omid']

In [77]:
# startswith() 
a = "hermann"
b = a.startswith("r")
print(b)

False

In [79]:
# strip()
a = "   hermann   "
print(len(a))
b = a.strip()
print(len(b))
print(b)

13
7
hermann

In [80]:
# title()
a = "hello world"
b = a.title()
print(b)

Hello World

In [81]:
# upper()
a = "hello world"
b = a.upper()
print(b)

HELLO WORLD

In [30]:
# zfill()
a = "5"
b = a.zfill(4)
print(b)

0005

## team-up
- nida - ceren
- hasti - helia
- ayda - fateme
- omid - anna
- nura - mahshid

In [135]:
a = ["a", "b", "c", "d", "e", "f"]

for i, j in enumerate(a):
    print(i, j)

0 a
1 b
2 c
3 d
4 e
5 f

In [138]:
for i in range(-10, 10, 2):
    print (i)

-10
-8
-6
-4
-2
0
2
4
6
8

## String Methods

> **Method Description**

1. **capitalize()** – Converts the first character to upper case  
2. **casefold()** – Converts string into lower case  
3. ~~**center()** – Returns a centered string~~
4. **count()** – Returns the number of times a specified value occurs in a string  
5. ~~**encode()** – Returns an encoded version of the string~~
6. **endswith()** – Returns true if the string ends with the specified value  
7. **expandtabs()** – Sets the tab size of the string  
8. **find()** – Searches the string for a specified value and returns the position of where it was found  
9. **format()** – Formats specified values in a string  
10. **format_map()** – Formats specified values in a string  
11. **index()** – Searches the string for a specified value and returns the position of where it was found  
12. **isalnum()** – Returns True if all characters in the string are alphanumeric  
13. **isalpha()** – Returns True if all characters in the string are in the alphabet  
14. **isascii()** – Returns True if all characters in the string are ASCII characters  
15. **isdecimal()** – Returns True if all characters in the string are decimals  
16. **isdigit()** – Returns True if all characters in the string are digits  
17. ~~**isidentifier()** – Returns True if the string is an identifier~~
18. **islower()** – Returns True if all characters in the string are lower case  
19. **isnumeric()** – Returns True if all characters in the string are numeric  
20. **isprintable()** – Returns True if all characters in the string are printable  
21. **isspace()** – Returns True if all characters in the string are whitespaces  
22. **istitle()** – Returns True if the string follows the rules of a title  
23. **isupper()** – Returns True if all characters in the string are upper case  
24. **join()** – Joins the elements of an iterable to the end of the string  
25. **ljust()** – Returns a left justified version of the string  
26. **lower()** – Converts a string into lower case  
27. **lstrip()** – Returns a left-trimmed version of the string  
28. ~~ **maketrans()** – Returns a translation table to be used in translations ~~
29. **partition()** – Returns a tuple where the string is parted into three parts  
30. **replace()** – Returns a string where a specified value is replaced with a specified value  
31. **rfind()** – Searches the string for a specified value and returns the last position where it was found  
32. **rindex()** – Searches the string for a specified value and returns the last position where it was found  
33. **rjust()** – Returns a right justified version of the string  
34. **rpartition()** – Returns a tuple where the string is parted into three parts  
35. **rsplit()** – Splits the string at the specified separator and returns a list  
36. **rstrip()** – Returns a right-trimmed version of the string  
37. **split()** – Splits the string at the specified separator and returns a list  
38. **splitlines()** – Splits the string at line breaks and returns a list  
39. **startswith()** – Returns true if the string starts with the specified value  
40. **strip()** – Returns a trimmed version of the string  
41. **swapcase()** – Swaps cases, lower case becomes upper case and vice versa  
42. **title()** – Converts the first character of each word to upper case  
43. **translate()** – Returns a translated string  
44. **upper()** – Converts a string into upper case  
45. **zfill()** – Fills the string with a specified number of 0 values at the beginning

# if else elif

a == b equal
a != b not eqaul
a < b less than
a <= b less than and equal
a > b greater than
a >= b greater and equal



>

In [ ]:
a = 300
b = 200

if a > b:
    print("a is greater than b")



x = 5
y = 7

y > x
"y is greater than y"

a is greater than b

In [17]:
# f string
cars = 30023

# the number of cars in parking is ... 

print(f"the number of cars in parking is {cars} ." )

the number of cars in parking is 30023 .

In [24]:
# ages
hermann = 40
mahshid = 17
omid = 24
ayda = 8
nida = 11

# if hermann is older than ayda print("hermann is older than ayda")
# if mahshid is younger than nida( print nida is older than mahshid) - print( nida is younger than mahshid)

# step 1 : compare mahshid and nida's age
# step 2 = print nida is older than mahshid
# step 3 = print nida is younger than mahshid

product = "Laptop"
stock = 5
order_quantity = 30

# order_quantity <= stock: print(f"Order confirmed: {order_quantity} {product}(s) will be shipped.")
# print(f"Sorry, only {stock} {product}(s) available. Please reduce your order.")

if order_quantity <= stock:
    print(f"Order confirmed: {order_quantity} {product}(s) will be shipped.")
else:
    print(f"Sorry, only {stock} {product}(s) available. Please reduce your order.")

Sorry, only 5 Laptop(s) available. Please reduce your order.

In [ ]:
ent_sensor = True

a = "Welcome here"

if ent_sensor == True:

Welcome here

In [ ]:
student = 'Omid'
score = 72
passing_score = 60

# congrats, you pass the exam with score ...
# sorry, try again, you failed. your score is ....

In [29]:
my_score = input("please submit your score: ")
passing_score = 50

if int(my_score) >= passing_score:
    print(f"you pass the examp with score {my_score}")
else:
    print(f"you failed. ypur score is {my_score}")

you failed. ypur score is 30

In [ ]:
# if --> elif --> else
# 0 - 60 --> grade c
# 60 - 95 --> grade B
# 95 - 100 --> grade A


language = "English"
score = 98

if score <= 60:
    print("The grade is D")
elif score > 60 and score <= 95:
    print("The grade is B")
elif score > 95 or language == "German":
    print(f"The grade is A, but the language must be {language}")

The grade is A, but the language must br English

In [ ]:

weather = "rainy"
mood = "tired"

if weather == "sunny" and mood == "happy":
    print("Great day for a walk!")
elif weather == "rainy" or mood == "tired":
    print("Better to stay indoors and relax.")
else:
    print("Do whatever feels right!")

In [49]:
passing_score = 50


language = "English"
score = 98

if score >= passing_score:
    if language == "English":
        print(f"you pass the examp with score {score} and  {language} language")

you pass the examp with score 98 and  English language

In [ ]:
subject = "Math"
score = 72
passing_score = 60

# Expected behavior:
# 	•	If score is 60 or more and subject is "Math", print: (if)
# "You passed Math with a score of 72!"
# 	•	If score is 60 or more and subject is "Science", print: (elif)
# "Well done in Science!"
# 	•	Otherwise, print: "You did not pass." (else)

In [ ]:
# in


a  = ["tallinn", "berlin", "tartu"]

if "tallinn" in a:
    print('Tallinn is in my list')

In [59]:
destination = "Germany"
date_to_travel = 4
ticket_price = 190

# more than 1 month = %20
# less than 1 month and more than 7 days %10
# less than 7 days %5

# check the price more than 1 month, in 25 days and 4 days 

if destination == "spain" and date_to_travel > 30:
    print(f'the price with %20 discount is {190 * 0.8}')
elif destination == "spain" and date_to_travel < 30  and date_to_travel > 7:
    print(f"the price with %10 discount is {190 * 0.9}")
elif destination == 'spain' and date_to_travel < 7:
    print(f'the price with 5% discount is {190 * 0.95}')
else:
    print('unknown entry')

unknown entry

In [ ]:
country = ["spain", "Japan", "Italy"] #--> %20
city = ["madrid", 'barcelona', 'ozaka'] #--> additional %10

mycountry = input("Which country would you like to go? ")
mycity = input("Which city would you like to go? ")

ticket_price = 400

if mycountry not in country:
    if mycity in city:
        print(f"th price is {400 * 0.7}")
    else: 
        print(f"the price is {400 * 0.8}")
else: 
    print("There is no discount for this country at the moment")

There is no discount for this country at the moment

In [3]:
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

In [4]:
password = ""
while password != "1234":
    password = input("Enter password: ")

print("Access granted ✅")

Access granted ✅

In [8]:
from time import sleep
n = 5
while n > 0:
    print(n)
    n -= 1
    sleep(1)
print("Blast off! 🚀")

5
4
3
2
1
Blast off! 🚀

In [12]:
x = 5
for i in x:
    print(i)

TypeError: 'int' object is not iterable

In [ ]:
fruits = ["apple", "kiwi", "banana", "pear", "avocado"]

for ayda in fruits:
    if ayda  == "pear":
        print("pear is in the list")
    else:
        print(f"{i}")



ayda = apple
ayda = kiwi

apple
kiwi
banana
pear is in the list
avocado

In [ ]:
temperatures = [22, 27, 31, 19, 35, 29, 33]   # °C for each day


# print(temperatures[0])

# for temps in temperatures:
#     if temps > 30:
#         print(f"the temp is {temps}. It's a hot day")
#     else:
#         print(f"the temp is {temps}. It's a nice day")


for i,j in enumerate(temperatures):
    print(f"index is {i} and valuez is {j}")

index is 0 and value is 22
index is 1 and value is 27
index is 2 and value is 31
index is 3 and value is 19
index is 4 and value is 35
index is 5 and value is 29
index is 6 and value is 33

In [36]:
fruit_list =  [ "apple", "kiwi", "banana", "pear", "avocado"]
fruit = "strawberry"

def fruit_checker(fruit_list, fruit):
    print(fruit_list)
    if fruit in fruit_list:
        print(f"the {fruit} is in the list")
    else:
        fruit_list.insert(0, fruit)
        print(f"{fruit} is added to the list")
    print(fruit_list)

fruit_checker(fruit_list, fruit)

['apple', 'kiwi', 'banana', 'pear', 'avocado']
strawberry is added to the list
['strawberry', 'apple', 'kiwi', 'banana', 'pear', 'avocado']

# ====================================================

# list
# while

In [10]:
a = [1, 2, 3, 4, 5,6,7,8,9,10]

for i in a:
    print(i * "*")
    while i < 10:
        print("-" * i)
        i += 1

*
-
--
---
----
-----
------
-------
--------
---------
**
--
---
----
-----
------
-------
--------
---------
***
---
----
-----
------
-------
--------
---------
****
----
-----
------
-------
--------
---------
*****
-----
------
-------
--------
---------
******
------
-------
--------
---------
*******
-------
--------
---------
********
--------
---------
*********
---------
**********